.filter {
  position: relative;
}

.filter-quality-btn {
  position: relative;
  padding: 0.6em 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  border: 0;
  gap: 5px;
}

.filter-quality-options-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: #2e2e2e;
  padding: 0.5rem;
  left: -15px;
  top: 45px;
  border-radius: 8px;
  transition: visibility 100ms linear, opacity 100ms linear;
}

.filter-favourite-options-wrapper {
  text-align: start;
  left: 0;
  width: max-content;
}

.fav-items {
  overflow-y: auto;
  max-height: 300px;
  scrollbar-width: thin;
  padding: 0 5px;
  scrollbar-color: lightgray transparent;
}

.fav-item {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.fav-item-btn {
  background-color: transparent;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
}

.filter-quality-item {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.filter-unclick-area {
  position: fixed;
  inset: 0;
  z-index: 1;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.accordion-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
  transition: all 250ms;
  overflow-y: auto;
  scrollbar-width: none;
}

@media (width < 1250px) {
  .filter-favourite-options-wrapper {
    left: unset;
    right: 0;
  }
}

@media (width < 744px) {
  .filter-favourite-options-wrapper {
    width: auto;
    right: -130px;
  }
}

@media (width = 380px) or (444px <= width < 470px) {
  .filter-favourite-options-wrapper {
    right: 0;
    left: -130px;
  }
}
