.search-additional-item-container {
  display: grid;
  max-width: 33%;
  margin: 3rem auto;
  color: white;
}

.search-additional-item-label {
  font-size: 1.5rem;
  font-weight: bold;
}

.search-additional-item-btn {
  margin-top: 0.5rem;
  border-radius: 0;
}
