.scroll-wrapper {
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  width: 54px;
  height: 54px;
}

.scroll-transition {
  transition: visibility 100ms linear, opacity 100ms linear;
}

@media (width < 500px) {
  .scroll-wrapper {
    right: 20px;
  }
}
