.item {
  color: #fafafa;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 10px 20px;
}

.scale-up {
  animation: scale-up 250ms;
}

.item-ammount {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

.item-image-wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.item-image {
  max-width: 120px;
  max-height: 125px;
}

.item-description {
  min-height: 104px;
}

.item-name {
  font-size: 12px;
  font-weight: bold;
}

.item-skin {
  font-size: 16px;
  font-weight: 600;
}

.item-category {
  font-size: 12px;
}

.item-favourite {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.item-favourite:focus {
  outline: none;
}

.item-price-summary-header {
  cursor: pointer;
}

.item-price-summary {
  margin: 0.5rem 0rem;
}

.item-price-summary-input {
  background-color: var(--body-background);
  border: none;
  color: white;
  -webkit-appearance: none;
  margin: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.item-price-summary-input::-webkit-outer-spin-button,
.item-price-summary-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes scale-up {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
