#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.primary-form {
  max-width: var(--form-and-profile-width);
  margin: 0 auto;
  background-color: var(--main-background);
  padding: 40px;
  border-radius: 5px;
}

.form-image-wrapper {
  max-width: 320px;
  height: 120px;
  margin: 0 auto;
}

.form-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

.input-steamID {
  margin-top: 20px;
  padding: 10px 40px 10px 10px;
  width: 100%;
}

.submit-btn {
  width: 100%;
  margin-top: 10px;
  padding: 5px 0px;
}

.hero {
  background-color: var(--main-background);
  margin: 8rem auto 0rem auto;
  padding: 2rem;
  max-width: var(--form-and-profile-width);
  border-radius: 5px;
}

.steam-avatar {
  margin-top: -7rem;
  border-radius: 50%;
}

/* Profile Skeleton */
.skeleton-rounded {
  margin-top: -60px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  animation: backgroundColor 0.8s infinite alternate;
}

.skeleton-rectangle {
  height: 16px;
  width: 60px;
  border-radius: 0.5rem;
  animation: backgroundColor 0.8s infinite alternate;
}

@keyframes backgroundColor {
  from {
    background: rgba(229, 228, 226);
  }
  to {
    background: rgb(161, 160, 159);
  }
}
/* Profile Skeleton */
